SQLAlchemy==2.0.36
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
passlib[bcrypt]==1.7.4
python-jose==3.3.0
email-validator==2.2.0
apscheduler==3.10.3
requests==2.32.3
google-generativeai
pypdf
python-docx
python-pptx
openpyxl